/*reset, basic page*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tr, th, td{ margin: 0; padding: 0; font-weight: normal; font-size: 100%; }
body{ font-family: Helvetica, arial, sans-serif; font-size: 12px; background-color: #222; }
img{ display: block; border: none; }
h2{ font-size: 22px; }
p{ font-size: 14px; margin: 10px 0; }
header, footer, section, nav{ display: block; }
.clearing{ clear: both; }

/*the card table*/
#deck_button_row{ padding: 10px; background-color: #4A270B; display: block; width: 1300px; margin: 0 auto; }

#felt{ background-color: #1F6E32; margin: 0 auto 20px; padding: 10px; clear: both; overflow: auto; height: 600px; width: 1300px; position: relative;
	-moz-border-radius: 0, 0 800px, 800px;
	-webkit-border-radius: 0px 0px 800px 800px;
	border-radius: 0px 0px 800px 800px;
	-webkit-box-shadow: 5px 5px 5px 5px #111;
	-moz-box-shadow: 5px 5px 5px 5px #111;
	box-shadow: 5px 5px 5px 5px #111;
}

h1{ font: 80px 'Lobster', arial, serif; position: absolute; top: 180px; width: 1300px; text-align: center; color: #275c34; }
#felt h2{ color: #fff; }
#deckArea, #discardArea{ margin: 0 auto; clear: both; width: 590px; height: 150px; position: relative; }

/*hand*/
.hand{ position: absolute; border: 3px solid #fff; width: 240px; padding: 5px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
  #hand-0{ top: 80px; left: 20px; -moz-transform: rotate(70deg); -webkit-transform: rotate(70deg); -ms-transform: rotate(70deg); transform: rotate(70deg); }
  #hand-1{ top: 330px; left: 215px; -moz-transform: rotate(36deg); -webkit-transform: rotate(36deg); -ms-transform: rotate(36deg); transform: rotate(36deg); }
  #hand-2{ top: 430px; left: 50%; margin-left: -120px; }
  #hand-3{ top: 330px; right: 215px; -moz-transform: rotate(-36deg); -webkit-transform: rotate(-36deg); -ms-transform: rotate(-36deg); transform: rotate(-36deg); }
  #hand-4{ top: 80px; right: 20px; -moz-transform: rotate(-70deg); -webkit-transform: rotate(-70deg); -ms-transform: rotate(-70deg); transform: rotate(-70deg); }

  .cards-in-hand{ clear: both; overflow: auto; margin: 10px 0; min-height: 109px; position: relative; }
  .cards-in-hand .card{ cursor: pointer; position: absolute; }
  .cards-in-hand .card:nth-child(1){ z-index: 1; left: 0px; }
  .cards-in-hand .card:nth-child(2){ z-index: 2; left: 15px; }
  .cards-in-hand .card:nth-child(3){ z-index: 3; left: 30px; }
  .cards-in-hand .card:nth-child(4){ z-index: 4; left: 45px; }
  .cards-in-hand .card:nth-child(5){ z-index: 5; left: 60px; }
  .cards-in-hand .card:nth-child(6){ z-index: 6; left: 75px; }
  .cards-in-hand .card:nth-child(7){ z-index: 7; left: 90px; }
  .cards-in-hand .card:nth-child(8){ z-index: 8; left: 105px; }
  .cards-in-hand .card:nth-child(9){ z-index: 9; left: 120px; }
  .cards-in-hand .card:nth-child(10){ z-index: 10; left: 135px; }
  .cards-in-hand .card:nth-child(11){ z-index: 11; left: 150px; }
  .cards-in-hand .card:nth-child(12){ z-index: 12; left: 165px; }
    .cards-in-hand .selected{ border: 2px solid #00FF00; margin: 4px; top: -4px; }

#deckArea .card, #discardArea .card{ position: absolute; top: 0; }

#cards{ width: 100%; }

#deckArea .card:nth-last-of-type(52), #discardArea .card:nth-child(1){ z-index: 52; right: 490px; }
#deckArea .card:nth-last-of-type(51), #discardArea .card:nth-child(2){ z-index: 51; right: 480px; }
#deckArea .card:nth-last-of-type(50), #discardArea .card:nth-child(3){ z-index: 50; right: 470px; }
#deckArea .card:nth-last-of-type(49), #discardArea .card:nth-child(4){ z-index: 49; right: 460px; }
#deckArea .card:nth-last-of-type(48), #discardArea .card:nth-child(5){ z-index: 48; right: 450px; }
#deckArea .card:nth-last-of-type(47), #discardArea .card:nth-child(6){ z-index: 47; right: 440px; }
#deckArea .card:nth-last-of-type(46), #discardArea .card:nth-child(7){ z-index: 46; right: 430px; }
#deckArea .card:nth-last-of-type(45), #discardArea .card:nth-child(8){ z-index: 45; right: 420px; }
#deckArea .card:nth-last-of-type(44), #discardArea .card:nth-child(9){ z-index: 44; right: 410px; }
#deckArea .card:nth-last-of-type(43), #discardArea .card:nth-child(10){ z-index: 43; right: 400px; }
#deckArea .card:nth-last-of-type(42), #discardArea .card:nth-child(11){ z-index: 42; right: 390px; }
#deckArea .card:nth-last-of-type(41), #discardArea .card:nth-child(12){ z-index: 41; right: 380px; }
#deckArea .card:nth-last-of-type(40), #discardArea .card:nth-child(13){ z-index: 40; right: 370px; }
#deckArea .card:nth-last-of-type(39), #discardArea .card:nth-child(14){ z-index: 39; right: 360px; }
#deckArea .card:nth-last-of-type(38), #discardArea .card:nth-child(15){ z-index: 38; right: 350px; }
#deckArea .card:nth-last-of-type(37), #discardArea .card:nth-child(16){ z-index: 37; right: 340px; }
#deckArea .card:nth-last-of-type(36), #discardArea .card:nth-child(17){ z-index: 36; right: 330px; }
#deckArea .card:nth-last-of-type(35), #discardArea .card:nth-child(18){ z-index: 35; right: 320px; }
#deckArea .card:nth-last-of-type(34), #discardArea .card:nth-child(19){ z-index: 34; right: 330px; }
#deckArea .card:nth-last-of-type(33), #discardArea .card:nth-child(20){ z-index: 33; right: 320px; }
#deckArea .card:nth-last-of-type(32), #discardArea .card:nth-child(21){ z-index: 32; right: 310px; }
#deckArea .card:nth-last-of-type(31), #discardArea .card:nth-child(22){ z-index: 31; right: 300px; }
#deckArea .card:nth-last-of-type(30), #discardArea .card:nth-child(23){ z-index: 30; right: 290px; }
#deckArea .card:nth-last-of-type(29), #discardArea .card:nth-child(24){ z-index: 29; right: 280px; }
#deckArea .card:nth-last-of-type(28), #discardArea .card:nth-child(25){ z-index: 28; right: 270px; }
#deckArea .card:nth-last-of-type(27), #discardArea .card:nth-child(26){ z-index: 27; right: 260px; }
#deckArea .card:nth-last-of-type(26), #discardArea .card:nth-child(27){ z-index: 26; right: 250px; }
#deckArea .card:nth-last-of-type(25), #discardArea .card:nth-child(28){ z-index: 25; right: 240px; }
#deckArea .card:nth-last-of-type(24), #discardArea .card:nth-child(29){ z-index: 24; right: 230px; }
#deckArea .card:nth-last-of-type(23), #discardArea .card:nth-child(30){ z-index: 23; right: 220px; }
#deckArea .card:nth-last-of-type(22), #discardArea .card:nth-child(31){ z-index: 22; right: 210px; }
#deckArea .card:nth-last-of-type(21), #discardArea .card:nth-child(32){ z-index: 21; right: 200px; }
#deckArea .card:nth-last-of-type(20), #discardArea .card:nth-child(33){ z-index: 20; right: 190px; }
#deckArea .card:nth-last-of-type(19), #discardArea .card:nth-child(34){ z-index: 19; right: 180px; }
#deckArea .card:nth-last-of-type(18), #discardArea .card:nth-child(35){ z-index: 18; right: 170px; }
#deckArea .card:nth-last-of-type(17), #discardArea .card:nth-child(36){ z-index: 17; right: 160px; }
#deckArea .card:nth-last-of-type(16), #discardArea .card:nth-child(37){ z-index: 16; right: 150px; }
#deckArea .card:nth-last-of-type(15), #discardArea .card:nth-child(38){ z-index: 15; right: 140px; }
#deckArea .card:nth-last-of-type(14), #discardArea .card:nth-child(39){ z-index: 14; right: 130px; }
#deckArea .card:nth-last-of-type(13), #discardArea .card:nth-child(40){ z-index: 13; right: 120px; }
#deckArea .card:nth-last-of-type(12), #discardArea .card:nth-child(41){ z-index: 12; right: 110px; }
#deckArea .card:nth-last-of-type(11), #discardArea .card:nth-child(42){ z-index: 11; right: 100px; }
#deckArea .card:nth-last-of-type(10), #discardArea .card:nth-child(43){ z-index: 10; right: 90px; }
#deckArea .card:nth-last-of-type(9), #discardArea .card:nth-child(44){ z-index: 9; right: 80px; }
#deckArea .card:nth-last-of-type(8), #discardArea .card:nth-child(45){ z-index: 8; right: 70px; }
#deckArea .card:nth-last-of-type(7), #discardArea .card:nth-child(46){ z-index: 7; right: 60px; }
#deckArea .card:nth-last-of-type(6), #discardArea .card:nth-child(47){ z-index: 6; right: 50px; }
#deckArea .card:nth-last-of-type(5), #discardArea .card:nth-child(48){ z-index: 5; right: 40px; }
#deckArea .card:nth-last-of-type(4), #discardArea .card:nth-child(49){ z-index: 4; right: 30px; }
#deckArea .card:nth-last-of-type(3), #discardArea .card:nth-child(50){ z-index: 3; right: 20px; }
#deckArea .card:nth-last-of-type(2), #discardArea .card:nth-child(51){ z-index: 2; right: 10px; }
#deckArea .card:nth-last-of-type(1), #discardArea .card:nth-child(52){ z-index: 1; right: 10px; }

footer{ position: absolute; bottom: 10px; right: 10px; color: #555; }

/*buttons from http://ubuwaits.github.com/css3-buttons*/
.button{
  background: #e3e3e3;
  border: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px, 3px, 3px, 3px;
  -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px 3px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  margin-right: 3px;
}

.button:hover {
  background: #d9d9d9;
  -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}

.button:active {
  background: #d0d0d0;
  -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000;
}
