/*reset, basic page*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tr, th, td{ margin: 0; padding: 0; font-weight: normal; font-size: 100%; }
body{ font-family: Helvetica, arial, sans-serif; font-size: 12px; padding: 20px; }
img{ display: block; border: none; }
h1{ font-size: 42px; color: #C3260C; }
h2{ font-size: 22px; }
p{ font-size: 14px; margin: 10px 0; }
header, footer, section, nav{ display: block; }
.clearing{ clear: both; }

/*the card table*/
#deck_button_row{ margin: 20px 0 0; padding: 10px; background-color: #4A270B; display: block; }

#felt{ background-color: #1F6E32; margin: 0 0 20px 0; padding: 20px; clear: both; overflow: auto; }
  #felt h2{ color: #fff; }
  #handsArea, #deckArea, #discardArea{ margin: 30px 0; clear: both; overflow: auto; }

/*hand*/
.hand{ border: 3px solid #fff; width: 400px; float: left; margin: 5px; padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
  .cards-in-hand{ clear: both; overflow: auto; margin: 10px 0; min-height: 107px; }
    .cards-in-hand .card{ cursor: pointer; }
    .cards-in-hand .selected{ border: 2px solid #00FF00; margin: 4px; top: -4px; }
  